/* *Universal Values */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(assets/background.png) no-repeat center fixed;
    background-size: cover;
    min-height: 100vh; 
}

/* *Clock */
div.clock{
    height: 350px;
    width: 350px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 50%;
    backdrop-filter: blur(20px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 35px;
}
div.clock img{
    height: 100%;
    width: 100%;
    opacity: .6;
}
.hour{
    height: 80px;
    width: 10px;
    top: 100px;
}
.minute{
    height: 100px;
    width: 6px;
    top: 80px;
}
.second{
    height: 110px;
    width: 3px;
    top: 70px;
}
.hand{
    position: absolute;
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    transform-origin: bottom;
}